.container {
  max-width: 800px;
}

.navbar-custom {
  background-color: #98C9F1;
  text-align: center;
  box-shadow: 0px 3px 8px #777
}

.navbar-brand {
  height: auto;
  width: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar-image {
  height: 30%;
  width: 30%;
}

.navbar-nav li a {
 line-height: 35px;
 color: #435171;
}

.navbar-custom .navbar-nav > li > a:hover, .navbar-custom .navbar-nav > li > a:focus {
  background-color: #98C9F1;
  color: #F0EFEB;
}

body {
  padding-top: 80px;
}

label {
  display: inline-block;
  width: 120px;
}

p {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  font-family: "Open Sans", "Segoe UI", Arial, Helvetica, sans-serif;
  font-size: 25px;
  color: #435171;
}

h1 {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  font-family: "Open Sans", "Segoe UI", Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: #435171;
}

table {
  margin: 0 auto;
  font-family: "Open Sans", "Segoe UI", Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: #435171;
}

table {
  border-collapse: separate;
  border-spacing: 50px 0;
}

.customer-details {
  font-family: "Open Sans", "Segoe UI", Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: #435171;
}

.customer-details-text {
  padding-top: 1px;
  padding-left: 13px;
}

.customer-details-table td {
  height: 50px;
}

.mainlogo {
  display: block;
  margin: 0 auto;
}

.login-form {
  max-width: 300px;
  margin: 0 auto;
}

.create-customer-btn {
  max-width: 300px;
  margin: 0 auto;
}

.customer-list {
  text-align: center;
  font-family: "Open Sans", "Segoe UI", Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: #435171;
  padding-top: 20px;
}

.customer-detail-cell {
  min-width: 250px;
}

.customer-details-button-div {
  padding: 15px;
}

#customer-details-edit-button-div, #customer-details-save-button-div {
  text-align: right;
}

#customer-details-cancel-button-div {
  text-align: center;
}

#customer-details-delete-button-div {
  text-align: left;
}

.customer-details-button {
  min-width: 100px;
}

footer {
  margin-top: 60px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #98C9F1;
  border: solid 1px #ccc;
  border-radius: 5px;
}

footer p {
  text-align: center;
  font-family: "Open Sans", "Segoe UI", Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: #435171;
}
